<div class="progress-site-bar">
  <progress value="0">
    <div class="progress-container">
      <span class="progress-bar"></span>
    </div>
  </progress>
</div>

<section class="section-blog_next">
  <div class="inner">
    <div class="fixed-left">
      <h3>Quick links</h3>
      <ul>
        <li class="active"><a href="#what-is">What Is WCAG?</a></li>
        <li><a href="#is-wcag">Is WCAG Relevant for My Website?</a></li>
        <li><a href="#a-brief">A Brief History of Digital Accessibility</a></li>
        <li><a href="#wcag">WCAG Guidelines</a></li>
        <li><a href="#levels-of">Levels of Compliance</a></li>
      </ul>
    </div>
  </div>

  <div class="content__all">
    <div class="inner">
      <div class="back-button">
        <a href="blog.html" class="rgb-btn">back to articles</a>
      </div>
      <div class="content">
        <div class="img-title">
          <img src="{{root}}images/blog-next-img1.png" alt="#">
        </div>
        <div class="blog__info">
          <div class="avatar__info">
            <div class="avatar__mobile">
              <div class="avatar__img">
                <img src="{{root}}images/avatar-blog-img.png" alt="#">
              </div>
              <a href="#" class="avatar__name">John Doe</a>
            </div>
            <a href="#" class="avatar__tag">#hashtag</a>
          </div>
          <div class="time">
            <span class="calendar">27 August 2020</span>
            <span class="eye">3 min</span>
          </div>
        </div>
        <h5>Accessibility events</h5>
        <h2 id="levels-of">Getting to Know Web Content Accessibility Guidelines (WCAG)</h2>
        <p>If you are searching for more information regarding <a href="#">Web Content Accessibility</a> Guidelines (or WCAG for short), you are likely tasked with bringing your site up to compliance standards. At first glance, the WCAG guidelines are, in a word, dense. The guidelines and recommendations tend to read more like a law textbook than something the average person can digest.</p>
        <p>The <strong>WCAG</strong> covers a myriad of issues that affect people with disabilities on the internet- this ranges from difficulty viewing websites to hearing audio to maneuvering their mouse and keyboard. Despite the <strong>WCAG’s dauntingly comprehensive</strong> and somewhat intimidating nature, there is no need to worry. We are breaking it down so you can understand more broadly what these guidelines are, how they are relevant to you, and why they matter.</p>
        <h2 id="what-is">Wait, What Is WCAG? </h2>
        <p>WCAG, or the Web Content Accessibility Guidelines, are a series of guidelines that provide information about web accessibility. These guidelines, developed by the Web Accessibility Initiative (WAI) of the World Wide Web Consortium (W3C), help give site owners clear instructions and information toward making their website meet compliance standards.</p>
        <div class="img__none">
          <p>IMAGE</p>
        </div>
        <h3>Subtitle here</h3>
        <p id="wcag">The WCAG 2.1 in itself is not considered as legislation, but being the most important guidelines for web accessibility, they set the standard for web accessibility legislation in most countries in the world, for example:</p>
        <ul>
          <li><strong>United States’</strong> ADA and Section 508;</li>
          <li><strong>Canada’s</strong> ACA and AODA;</li>
          <li><strong>The European union’s</strong> EAA and EN301549.</li>
        </ul>
        <p>The WCAG 2.1 in itself is not considered as legislation, but being the most important guidelines for web accessibility, they set the standard for web accessibility legislation in most countries in the world.</p>
        <h2 id="is-wcag">Is WCAG Relevant for My Website?</h2>
        <p>In a broad sense, the Web Content Accessibility Guidelines are for everyone- from individuals to governments. While that may seem like a significant amount of websites and content, the goal is to create a standard of web content and accessibility that everyone can enjoy, benefit from, and use.</p>
        <p class="text-green">While that may seem like a significant amount of websites and content, the goal is to create a standard of web content.</p>
        <p>That means too that these standards are internationally applicable. Websites are typically not controlled by borders, so the goal of the WCAG is to create a worldwide standard. So whether you are in the United States, Ireland, or Montreal- the guidelines are likely highly relevant.</p>
        <h2 id="a-brief">A Brief History of Digital Accessibility</h2>
        <p>In a broad sense, the Web Content Accessibility Guidelines are for everyone- from individuals to governments. While that may seem like a significant amount of websites and content, the goal is to create a standard of web content and accessibility that everyone can enjoy, benefit from, and use.</p>
      </div>
    </div>
    <a href="#" class="up-scroll" onclick="return up()"></a>
  </div>
  <div class="fixed-bg"></div>
</section>
