<section class="popup-download">
  <input id="modal" type="checkbox">
  <label class="modal-button" for="modal">
    <span class="btn">download button</span>
  </label>
  <label class="modal-background" for="modal"></label>

  <div class="modal-content">
    <div class="content">
      <label class="modal-close" for="modal">&#10005;</label>
      <div class="wrapper">
        <div class="left">
          <img src="{{root}}images/popup-download-img.png" alt="#">
        </div>
        <div class="right">
          <h2>Contact us</h2>
          <p>We will send the results to your email as a PDF file:</p>
          <div class="name-mail__input w-100">
            <div class="name__input">
              <span>Your name:</span>
              <input type="text" name="name" placeholder="Ex.: John Doe">
            </div>
            <div class="mail__input">
              <span>Your email:</span>
              <input type="text" name="mail" placeholder="Ex.: info@mail.com">
            </div>
          </div>

          <label class="container">
            <p>I accept <a href="#">terms and conditions</a></p>
            <input type="checkbox" checked="checked">
            <span class="checkmark"></span>
          </label>

          <div class="button">
            <a href="#" class="btn">Send me the report</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
