<label class="modal-button-star" for="modal-stars">
  <span>Popup stars</span>
</label>

<br>

<label class="modal-home-button" for="modal-home">
  <span>Home stars</span>
</label>

<br>

<label class="modal-button-score" for="modal-score">
  <span>New Popup score</span>
</label>

<br>

<label class="modal-button-score" for="modal-score-error">
  <span>New Popup score error</span>
</label>

<br>

<label class="modal-download" for="modal-download">
  <span>Download</span>
</label>
