<header class="header version1">
  <div id="sticky-header" class="unfixed">
    <div class="inner">
      {{>logo logo1="images/logo.png" logo2=""}}

      <nav class="main-nav-container">
        <ul class="main-nav header-nav">
          <li><a href="#">How it works</a></li>
          <li><a href="#">Legislation Overview</a></li>
          <li><a href="#">Knowledge base</a></li>
          <li><a href="#">Statement generator</a></li>
          <li><a href="#">Contacts</a></li>
        </ul>
      </nav>

    </div>
    <button class="menu-button" id="open-button">Menu</button>
  </div>
</header>

<header class="header version2">
  <div id="sticky-header" class="unfixed">
    <div class="inner">
      {{>logo logo1="images/logo.png" logo2=""}}

      <nav class="main-nav-container">
        <ul class="main-nav header-nav">
          <li><a href="#">How it works</a></li>
          <li><a href="#">Legislation</a></li>
          <li><a href="#">Knowledge</a></li>
          <li><a href="#">Statement generator</a></li>
          <li><a href="#">Contacts</a></li>
        </ul>
      </nav>

      <div class="nav-custom">
        <div class="search">
          <input name="search" type="text" placeholder="Paste website URL">
        </div>
        <div class="select__header">
          <div class="world__img">
            <img src="{{root}}images/word-tab1.png" alt="#">
          </div>
          <select class="select"  id="filter-left" name="select">
            <option value="#" disabled>US</option>
            <option value="#">US</option>
            <option value="#">CA</option>
            <option value="#">EU</option>
            <option value="#">GE</option>
            <option value="#">AU</option>
            <option value="#">DN</option>
            <option value="#">FN</option>
          </select>
        </div>
        <div class="button">
          <a href="#" class="btn">Audit</a>
        </div>
      </div>

    </div>
    <button class="menu-button" id="open-button">Menu</button>
  </div>
</header>
