<div id="target__header"></div>
<header class="header version1">
  <div id="sticky-header" class="unfixed">
    <div class="inner">
      {{>logo logo1="images/logo.png" logo2=""}}

      <nav class="main-nav-container">
        <ul class="main-nav header-nav">
          <li><a href="#">How it works</a></li>
          <li><a href="#">Legislation Overview</a></li>
          <li><a href="#">Knowledge base</a></li>
          <li><a href="#">Statement generator</a></li>
          <li>
            <div class="popup">
              <input id="modal" type="checkbox">
              <label class="modal-button" for="modal">
                <span>Contacts</span>
              </label>
              <label class="modal-background" for="modal"></label>

              <div class="modal-content">
                <div class="content">
                  <label class="modal-close" for="modal">&#10005;</label>
                  <div class="wrapper">
                    <div class="left">
                      <img src="{{root}}images/popup-img.png" alt="#">
                    </div>
                    <div class="right">
                      <h2>Contact us</h2>
                      <div class="name-mail__input">
                        <div class="name__input">
                          <span>Your name:</span>
                          <input type="text" name="name" placeholder="Ex.: John Doe">
                        </div>
                        <div class="mail__input">
                          <span>Your email:</span>
                          <input type="text" name="mail" placeholder="Ex.: info@mail.com">
                        </div>
                      </div>

                      <div class="select__popup">
                        <span class="subject">Subject:</span>
                        <select class="select" name="select">
                          <option value="#" title="not-select" disabled>Not selected</option>
                          <option value="#">Just wanted to say ”Hi”</option>
                          <option value="#">Accessibility Help/question</option>
                          <option value="#">Become a Contributor</option>
                          <option value="#">Partnerships</option>
                          <option value="#">Other</option>
                        </select>
                      </div>

                      <div class="text__textarea">
                        <span>Write your question here:</span>
                        <textarea name="textarea"></textarea>
                      </div>

                      <div class="button">
                        <a href="#" class="btn">Send a question</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </nav>

    </div>
  </div>
</header>

<header class="header version2">
  <div id="sticky-header" class="unfixed">
    <div class="inner">
      {{>logo logo1="images/logo.png" logo2=""}}

      <nav class="main-nav-container">
        <ul class="main-nav header-nav">
          <li><a href="#">How it works</a></li>
          <li><a href="#">Legislation</a></li>
          <li><a href="#">Knowledge</a></li>
          <li><a href="#">Statement generator</a></li>
          <li><a href="#">Contacts</a></li>
        </ul>
      </nav>

      <div class="nav-custom">
        <div class="search">
          <input name="search" type="text" placeholder="Paste website URL">
        </div>
        <div class="select__header">
          <div class="world__img">
            <img src="{{root}}images/word-tab1.png" alt="#">
          </div>
          <select class="select"  id="filter-left" name="select">
            <option value="#" disabled>US</option>
            <option value="#">US</option>
            <option value="#">CA</option>
            <option value="#">EU</option>
            <option value="#">GE</option>
            <option value="#">AU</option>
            <option value="#">DN</option>
            <option value="#">FN</option>
          </select>
        </div>
        <div class="button">
          <a href="#" class="btn">Audit</a>
        </div>
      </div>
    </div>
  </div>
</header>

<button class="menu-button" id="open-button">Menu</button>
