<div id="target__header"></div>
<header class="header version1">
  <div id="sticky-header" class="unfixed">
    <div class="inner">
      {{>logo logo1="images/logo.png" logo2=""}}

      <nav class="main-nav-container">
        <ul class="main-nav header-nav">
          <li class="current_page_item"><a href="#section-work">How It Works</a></li>
          <li><a href="#section-tabs">Legislation Overview</a></li>
          <li><a href="#section-frequent">Knowledge Base</a></li>
          <li><a href="#">Statement Generator</a></li>
          <li>
            <label class="modal-button" for="modal">
              <span>Contacts</span>
            </label>
          </li>
        </ul>
      </nav>

    </div>
  </div>
</header>

<header class="header version2">
  <div id="sticky-header" class="unfixed">
    <div class="inner">
      {{>logo logo1="images/logo.png" logo2=""}}

      <nav class="main-nav-container">
        <ul class="main-nav header-nav">
          <li class="current_page_item"><a href="#section-work">How It Works</a></li>
          <li><a href="#section-tabs">Legislation</a></li>
          <li><a href="#section-frequent">Knowledge</a></li>
          <li><a href="#">Statement Generator</a></li>
          <li>
            <label class="modal-button" for="modal">
              <span>Contacts</span>
            </label>
          </li>
        </ul>
      </nav>

      <div class="nav-custom">
        <div class="search">
          <input name="search" type="text" placeholder="Paste website URL">
        </div>
        <div class="select__header">
          <input type="hidden" id="flagSelect" value=""/>
        </div>
        <div class="button">
          <label class="modal-button" for="modal-audit">
            <span>Audit</span>
          </label>
        </div>
      </div>
    </div>
  </div>
</header>

<button class="menu-button" id="open-button">Menu</button>
