{{!-- mobile menu section block --}}
<aside class="menu-wrap" aria-hidden="true">

  <div class="logo-mobile">
    <img src="{{root}}images/logo.png" alt="#">
  </div>

  <ul class="main-nav mobile-nav">
    <li class="current-menu-item"><a href="#">How it works</a></li>
    <li><a href="#">Legislation Overview</a></li>
    <li><a href="#">Knowledge base</a></li>
    <li><a href="#">Statement generator</a></li>
    <li><a href="#">Contacts</a></li>
  </ul>

  <button class="close-button" id="close-button">Close Menu</button>
</aside>
