{{!-- mobile menu section block --}}
<aside class="menu-wrap" aria-hidden="true">

  <div class="logo-mobile">
    <img src="{{root}}images/mobile-logo.png" alt="#">
  </div>

  <ul class="main-nav mobile-nav">
    <li class="current-menu-item"><a href="#">About</a></li>
    <li><a href="#">Compliances</a></li>
    <li><a href="#">Solutionsy</a></li>
    <li><a href="#">Blog</a></li>
    <li><a href="#">Support</a></li>
  </ul>

  <button class="close-button" id="close-button">Close Menu</button>
</aside>
