<div class="social-links">
  {{!-- You can add h3 title here <h3>Follow us</h3> --}}
  <a href="#"><img src="{{root}}images/twitter.png" alt="">{{!-- You can add text here --}}</a>
  <a href="#"><img src="{{root}}images/facebook.png" alt=""></a>
  <a href="#"><img src="{{root}}images/youtube.png" alt=""></a>
  <a href="#"><img src="{{root}}images/vine.png" alt=""></a>
</div>
